<template>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img
          src="https://bulma.io/images/bulma-logo.png"
          width="112"
          height="28"
        />
      </a>

      <a
        role="button"
        class="navbar-burger"
        @click="isActive = !isActive"
        :class="{ 'is-active': isActive }"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
      id="navbarBasicExample"
      class="navbar-menu"
      :class="{ 'is-active has-background-black-ter': isActive }"
    >
      <div class="navbar-start">
        <a class="navbar-item has-text-white"> Home </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a
            class="navbar-link has-text-white"
            @click="hasDropdown = !hasDropdown"
          >
            Sky Walker
          </a>

          <div
            v-show="hasDropdown"
            class="navbar-dropdown has-dropdown has-background-black-ter"
          >
            <a class="navbar-item has-text-white"> Obiwan Kenobi </a>
            <a class="navbar-item has-text-white"> Anakin skylewalker </a>
            <a class="navbar-item has-text-white"> Jedi </a>
            <hr class="navbar-divider" />
            <a class="navbar-item has-text-white"> Star wars </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light"> Log in </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="card m-6 has-background-black-ter has-text-white">
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
  <div class="card m-6 has-background-black-ter has-text-white">
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
  <div class="card m-6 has-background-black-ter has-text-white">
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
  <div class="card m-6 has-background-black-ter has-text-white">
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
  <div class="card m-6 has-background-black-ter has-text-white">
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
  <div class="card mx-6">
    <div class="card-content has-background-black-ter has-text-white">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at eget metus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
        mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const isActive = ref(false);
const hasDropdown = ref(false);
</script>

<style>
.navbar-dropdown > a:hover,
.navbar-start > a:hover,
.navbar-start > div > a:hover {
  background: rgb(15, 15, 15) !important;
}
</style>
